// Navigation code here

nav {
    .flex-alignic(); 
    flex-direction: column;
    width: 100%;
    background-color: @nav-bg;
    padding-bottom: 15px;
    h1 {
        color: @header-font-color;
        font-size: 3.7rem;
        margin: 15px 
    }
    a {
        
        font-size: 1.5rem;
        text-decoration: none;
        color: @nav-font;
        padding: 15px 15px;
    }
}

header {
    img {
        border-radius: 5px;
    }
}


